@import url(https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap);
.container{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}@media (min-width: 480px){.container{
        max-width: 480px;
    }
}@media (min-width: 600px){.container{
        max-width: 600px;
        padding-right: 12px;
        padding-left: 12px;
    }
}@media (min-width: 782px){.container{
        max-width: 782px;
    }
}@media (min-width: 960px){.container{
        max-width: 960px;
        padding-right: 32px;
        padding-left: 32px;
    }
}@media (min-width: 1300px){.container{
        max-width: 1300px;
        padding-right: 42px;
        padding-left: 42px;
    }
}@media (min-width: 1600px){.container{
        max-width: 1600px;
    }
}.fixed{
    position: fixed;
}.absolute{
    position: absolute;
}.relative{
    position: relative;
}.right-0{
    right: 0px;
}.right-\[-100vw\]{
    right: -100vw;
}.top-0{
    top: 0px;
}.z-20{
    z-index: 20;
}.z-50{
    z-index: 50;
}.m-8{
    margin: 2rem;
}.mx-auto{
    margin-left: auto;
    margin-right: auto;
}.my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}.my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
}.mb-1{
    margin-bottom: 0.25rem;
}.mb-8{
    margin-bottom: 2rem;
}.mb-xxl{
    margin-bottom: 48px;
}.block{
    display: block;
}.inline-block{
    display: inline-block;
}.flex{
    display: flex;
}.grid{
    display: grid;
}.hidden{
    display: none;
}.h-1{
    height: 0.25rem;
}.h-6{
    height: 1.5rem;
}.h-full{
    height: 100%;
}.min-h-screen{
    min-height: 100vh;
}.w-16{
    width: 4rem;
}.w-6{
    width: 1.5rem;
}.w-full{
    width: 100%;
}.max-w-screen-lg{
    max-width: 960px;
}.max-w-screen-md{
    max-width: 782px;
}.max-w-screen-xl{
    max-width: 1300px;
}.max-w-sm{
    max-width: 24rem;
}.max-w-screen-xs{
    max-width: 480px;
}.max-w-screen-sm{
    max-width: 600px;
}.transform{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}@keyframes fade{0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}.animate-fade{
    animation: fade var(--tw-animate-duration, 1s) var(--tw-animate-easing, ease) var(--tw-animate-delay, 0s) var(--tw-animate-iteration, 1) var(--tw-animate-fill, both);
}@keyframes flip-down{0%{
        transform: rotateX(-90deg);
        transform-origin: top;
    }100%{
        transform: rotateX(0);
        transform-origin: top;
    }
}.animate-flip-down{
    animation: flip-down var(--tw-animate-duration, 1s) var(--tw-animate-easing, ease) var(--tw-animate-delay, 0s) var(--tw-animate-iteration, 1) var(--tw-animate-fill, both);
}@keyframes flip-up{0%{
        transform: rotateX(90deg);
        transform-origin: bottom;
    }100%{
        transform: rotateX(0);
        transform-origin: bottom;
    }
}.animate-flip-up{
    animation: flip-up var(--tw-animate-duration, 1s) var(--tw-animate-easing, ease) var(--tw-animate-delay, 0s) var(--tw-animate-iteration, 1) var(--tw-animate-fill, both);
}@keyframes jump-in{0%{
        transform: scale(0%);
    }80%{
        transform: scale(120%);
    }100%{
        transform: scale(100%);
    }
}.animate-jump-in{
    animation: jump-in var(--tw-animate-duration, 500ms) var(--tw-animate-easing, ease) var(--tw-animate-delay, 0s) var(--tw-animate-iteration, 1) var(--tw-animate-fill, both);
}.cursor-pointer{
    cursor: pointer;
}.flex-col{
    flex-direction: column;
}.items-end{
    align-items: flex-end;
}.items-center{
    align-items: center;
}.items-baseline{
    align-items: baseline;
}.justify-end{
    justify-content: flex-end;
}.justify-center{
    justify-content: center;
}.justify-between{
    justify-content: space-between;
}.gap-5{
    gap: 1.25rem;
}.rounded{
    border-radius: 0.25rem;
}.border{
    border-width: 1px;
}.border-b{
    border-bottom-width: 1px;
}.border-primary{
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}.bg-gray4{
    background-color: rgba(0, 0, 0, 0.40);
}.bg-gray6{
    background-color: rgba(255, 255, 255, 0.60);
}.bg-gray9{
    background-color: rgba(255, 255, 255, 0.95);
}.bg-primary{
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}.bg-secondary{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}.bg-cover{
    background-size: cover;
}.bg-center{
    background-position: center;
}.p-3{
    padding: 0.75rem;
}.p-3\.5{
    padding: 0.875rem;
}.p-lg{
    padding: 32px;
}.p-md{
    padding: 24px;
}.px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}.px-4{
    padding-left: 1rem;
    padding-right: 1rem;
}.px-xl{
    padding-left: 42px;
    padding-right: 42px;
}.py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}.py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
}.py-xxl{
    padding-top: 48px;
    padding-bottom: 48px;
}.text-center{
    text-align: center;
}.text-base{
    font-size: 20px;
    line-height: 150%;
}.text-sm{
    font-size: 12px;
    line-height: 120%;
}.font-bold{
    font-weight: 700;
}.font-extrabold{
    font-weight: 800;
}.font-light{
    font-weight: 300;
}.uppercase{
    text-transform: uppercase;
}.leading-tight{
    line-height: 1.25;
}.text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}.antialiased{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}.opacity-50{
    opacity: 0.5;
}.opacity-60{
    opacity: 0.6;
}.shadow{
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.outline{
    outline-style: solid;
}.blur{
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}.filter{
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}.transition{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}.alignfull{
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw;
}.alignwide{
    margin: 2rem 0;
    max-width: 1300px !important;
}.alignnone{
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%;
}.aligncenter{
    margin: 0.5rem auto;
    display: block;
}@media (min-width: 600px){.alignleft:not(.wp-block-button){
        margin-right: 0.5rem;
        float: left;
    }.alignright:not(.wp-block-button){
        margin-left: 0.5rem;
        float: right;
    }.wp-block-button.alignleft a{
        float: left;
        margin-right: 1rem;
    }.wp-block-button.alignright a{
        float: right;
        margin-left: 1rem;
    }
}.wp-caption{
    display: inline-block;
}.wp-caption img{
    margin-bottom: 0.5rem;
    line-height: 1;
}.wp-caption-text{
    font-size: 12px;
    color: #718096;
}:root {
    --primary: #000000;
    --secondary: #ffffff;
    --background: #F4F4F4;
    --gray: rgba(0, 0, 0, 0.75);
    --gray5: rgba(0, 0, 0, 0.5);
    --gray9: rgba(255, 255, 255, 0.95);
    --gray6: rgba(255, 255, 255, 0.6);
    --gray4: rgba(0, 0, 0, 0.4);
    --marker: #00ffff;
    --markershadow: #00ffff;
    --base: 20px;
    --large: 24px;
    --h3: 32px;
    --h2: 48px;
    --h1: 64px;
    --huge: 150px;
    --xs: 6px;
    --sm: 12px;
    --md: 24px;
    --lg: 32px;
    --xl: 42px;
    --xxl: 48px;
    --xxxl: 64px;
    --xxxxl: 84px;
    --hero: 480px;
}body{
    font-family: Epilogue, sans-serif;
    font-size: 20px;
    line-height: 150%;
}h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 100%;
    margin: 0;
}h1 {
    font-size: var(--xxxl);
}h2 {
    font-size: var(--xxl);
    margin-bottom: var(--xl);
}h3 {
    font-size: var(--lg);
    margin-bottom: var(--lg);
}p {
    line-height: 170%;
    margin: 0;
}pre,
.pre{
    font-family: Epilogue, sans-serif;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 300;
}body{
    font-family: Epilogue, sans-serif;
}.editor-styles-wrapper{
    padding: 2.5rem;
}.wp-block{
    max-width: 1300px;
}.wp-block[data-align=wide]{
    max-width: 1300px;
}.wp-block[data-align=full]{
    max-width: 100%;
}.hover\:opacity-100:hover{
    opacity: 1;
}@media (min-width: 782px){.md\:my-6{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }.md\:flex{
        display: flex;
    }.md\:w-1\/2{
        width: 50%;
    }
}@media (min-width: 960px){.lg\:relative{
        position: relative;
    }.lg\:right-0{
        right: 0px;
    }.lg\:-mx-4{
        margin-left: -1rem;
        margin-right: -1rem;
    }.lg\:block{
        display: block;
    }.lg\:flex{
        display: flex;
    }.lg\:hidden{
        display: none;
    }.lg\:h-hero{
        height: 480px;
    }.lg\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }.lg\:flex-row{
        flex-direction: row;
    }.lg\:flex-col{
        flex-direction: column;
    }.lg\:items-center{
        align-items: center;
    }.lg\:p-xl{
        padding: 42px;
    }.lg\:p-xxxxl{
        padding: 84px;
    }.lg\:py-xxxxl{
        padding-top: 84px;
        padding-bottom: 84px;
    }
}
