@import "header.css";
@import "footer.css";
@import "icons.css";

body,
.body {
    @apply bg-background;
}

main,
.main {
    @apply container;

    p {
        /* @apply text-gray5; */
    }
}

nav,
.nav {
    @apply flex flex-col lg:flex-row gap-5 justify-between p-lg lg:p-xl bg-secondary shadow;

    &.pagination {
        @apply justify-center flex-row;
    }
}

.header {
    @apply bg-cover bg-center relative;

    &-inner {
        @apply grid lg:grid-cols-2 w-full items-center justify-center;
    }
}


section,
.section {
    @apply bg-secondary shadow;
}


a:not(.btn) {
    /* text-shadow: 1px 1px 0 rgba(var(--marker), 0.8); */
    /* transition: all .25s ease-in-out; */
    font-weight: 500;
    opacity: .75;

    &:hover:not(.btn) {
        opacity: 1;
        /* text-shadow: .2rem .2rem .2rem var(--marker); */
        /* border-bottom: dotted 1px var(--marker); */
    }
}

.current_page_parent,
.current_page_item {
    a {
        text-shadow: .2rem .2rem .2rem var(--marker) !important;
    }
}



section {}

.container {
    @apply mx-auto max-w-screen-xl;
}


.content,
[class$="-content"] {
    @apply p-md lg:p-xxxxl;
}

.meta-content {
    @apply block w-full text-gray4 p-0 py-sm border-t-2 border-gray1 flex flex-col lg:flex-row justify-between;
}

.site-archive {
    h3 {
        @apply m-0;
    }

    .archive-header {
        p {
            @apply m-0;
        }

        h1 {
            @apply text-secondary;
        }
    }

    .archive-description {
        @apply text-gray5;
    }

}



article {
    /* @apply py-10 max-w-screen-lg mx-auto; */
}


.menu {
    @apply lg:flex;
}

.menu-item {
    @apply p-3.5 flex items-center;
}

.menu-icon {
    @apply py-3.5 px-2;
}

.menu-open {
    overflow: hidden;

    main {
        filter: blur(2px);
        transition: all .25s ease-in-out;
    }

    .site-header {
        @apply z-50 relative w-full h-full;

        .menu {
            @apply block right-0 top-0 py-32 bg-background;
        }
    }


}


.btn {
    display: block;
    max-width: fit-content;
    font-weight: 500;
    text-align: center;
    color: var(--primary);
    padding: var(--md) var(--lg);
    border-width: 1px 2px 2px 1px;
    border-color: currentColor;

    &:hover {
        color: var(--secondary);
        background-color: var(--primary);
        box-shadow: var(--markershadow);
    }
}



/* Hero */
.hero {

    @apply bg-cover bg-center flex flex-col items-center justify-center shadow;

    &-header {
        @apply lg:h-hero py-xxl px-xl flex justify-center items-center text-white;

        h1,
        h2 {
            font-size: 12vw;
            text-shadow: 4px 4px 0px #000;
            font-weight: 700;
            margin: 0;
        }
    }

    &-content {
        @apply bg-gray9 w-full;
    }

}

.home .hero-header h2 {
    @apply text-secondary;
}

/* Posts */
.post-header {
    @apply p-lg lg:p-xxxxl pb-0 lg:pb-0 grid lg:grid-cols-2 w-full;

    figure {
        @apply w-full;
    }
}

/* Content */
.entry-content {
    p {
        @apply text-gray;
    }
}




/* Hamburger Menu */
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;

    svg {
        transition: transform 0.3s ease;

        #icon-shape path {
            transition: transform 0.3s ease, opacity 0.2s ease;
            transform-origin: center;
        }
    }
}


/* Animation for Menu Open State */
.menu-open .hamburger svg #icon-shape {
    path:nth-child(1) {
        transform: translateX(-4px) translateY(4px) rotate(45deg);
    }

    path:nth-child(2) {
        opacity: 0;
    }

    path:nth-child(3) {
        transform: translateX(-4px) translateY(-4px) rotate(-45deg);
    }
}

/* aspect ratio */

.aspect-16-9 {
    position: relative;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.aspect-16-9>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* forms */
input,
textarea {
    @apply border-gray5 p-2 border border-r-2 border-b-2 mb-sm max-h-form w-full;
}

.wpcf7-submit {
    @apply btn;
    @apply max-w-full bg-gray text-secondary;
}


/* card */
.card {
    @apply relative hover:border-gray5;

    a:hover {
        text-shadow: none !important;
    }

    &-content {
        @apply p-sm;

        h2 {
            @apply text-large my-sm;
        }

        .card-resume {
            @apply text-gray4;
        }
    }

    &.post {
        figure {
            @apply relative overflow-hidden max-w-full mx-auto aspect-16-9;

            img {
                @apply w-full h-auto object-cover;
                margin-top: -25%;
            }
        }
    }

    &.work {

        h2 {
            @apply text-xxl text-secondary;
        }

        pre,
        time,
        .card-resume {
            @apply text-gray6;
        }

        .card-content {
            @apply absolute text-secondary top-0 left-0 w-full h-full flex flex-col justify-center items-center text-center bg-gray4 opacity-0 hover:opacity-100;
        }
    }
}