@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


body {
    @apply text-base font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 100%;
    margin: 0;
}

h1 {
    font-size: var(--xxxl);
}

h2 {
    font-size: var(--xxl);
    margin-bottom: var(--xl);
}

h3 {
    font-size: var(--lg);
    margin-bottom: var(--lg);
}


p {
    line-height: 170%;
    margin: 0;
}

pre,
.pre {
    @apply text-base uppercase font-sans;
    font-weight: 300;
}