@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


body {
    @apply text-base font-sans;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    color: var(--primary);
}

h1 {
    @apply text-h2 lg:text-h1;
    /* margin-bottom: var(--xl); */
}

h2 {
    font-size: var(--xxl);
    margin-bottom: var(--xl);
}

h3 {
    font-size: var(--lg);
    margin-bottom: var(--lg);
}


p {
    @apply mb-lg;
}


pre,
.pre,
time {
    @apply text-base uppercase font-sans text-gray5 py-sm;
    font-weight: 300;
}

small {
    @apply text-sm;
}

blockquote {
    @apply text-gray5 text-large italic;
}

.has-large-font-size {
    line-height: 170%;
}