:root {
    --primary: #000000;
    --secondary: #ffffff;
    --bg: #F4F4F4;
    --gray: rgba(0, 0, 0, 0.75);
    --gray5: rgba(0, 0, 0, 0.5);
    --gray9: rgba(255, 255, 255, 0.95);
    --gray6: rgba(255, 255, 255, 0.6);
    --gray4: rgba(0, 0, 0, 0.4);
    --marker: #00ffff;
    --markershadow: #00ffff;
    --lg: 42px;
    --md: 24px;
    --sm: 12px;
    --xs: 6px;
    --regular: 20px;
    --large: 24px;
    --xl: 32px;
    --xxl: 48px;
    --xxxl: 64px;
    --xxxxl: 84px;
    --hero: 480px;
}