:root {
    --black: #000000;
    --white: #ffffff;
    --bg: #F4F4F4;
    --gray: rgba(0, 0, 0, 0.75);
    --gray5: rgba(0, 0, 0, 0.5);
    --gray9: rgba(255, 255, 255, 0.95);
    --gray6: rgba(255, 255, 255, 0.6);
    --gray4: rgba(0, 0, 0, 0.4);
    --hover: #00ffff;
    --hovershadow: 6px 6px var(--hover);
    --6xl: 700px;
    --6xl: 700px;
    --4xl: 400px;
    --2xl: 150px;
    --xl: 84px;
    --lg: 42px;
    --md: 24px;
    --sm: 12px;
    --xs: 6px;
    --text: 20px;
    --big: 24px;
    --h3: 32px;
    --h2: 48px;
    --h1: 64px;
}